<div class="container">
    <h3>Please sign in</h3>

    <form action="">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Username" ng-model='username'>
        </div>

        <div class="input-group" style="margin:10px 0;">
            <input type="password" class="form-control" placeholder="Password" ng-model='password'>
        </div>

        <button type="button" class="btn btn-primary" ng-click="login()">
            Sign in
        </button>
    </form>
</div>
